@use "../utils" as *;

.modal-tattoo {
  & .modal-body {
    background-color: #f8f8f8;
    overflow: hidden;
    height: 100vh;
    @media #{$md,$sm,$xs} {
      background-color: var(--tp-common-white);
      padding: 0px;
      height: 100%;
      overflow: auto;
    }
    & .content-movil {
      padding-top: 80px;
    }
  }
  & .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: none;
    position: absolute;
    opacity: 1;
    right: 10px;
    top: 10px;
    background-color: var(--tp-common-white);
    border-radius: 100%;
    border: 1px solid #e4e4e4;
    & svg {
      color: var(--tp-common-black);
    }
  }
}
