@use '../utils' as *;
.tp-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--tp-common-white);
  margin-bottom: 20px;
  &::before {
    height: 12px;
    width: 12px;
    background-color: var(--tp-theme-primary);
    content: '';
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.tp-subtitle-before-color {
  color: rgba(41, 41, 48, 0.6);
  &::before {
    background-color: rgba(41, 41, 48, 0.6);
  }
}

.tp-title {
  font-size: 60px;
  font-weight: 700;
  color: var(--tp-common-white);
  margin-bottom: 40px;
  @media #{$xl} {
    font-size: 50px;
  }
  @media #{$lg} {
    font-size: 42px;
  }
  @media #{$md} {
    font-size: 35px;
  }
  @media #{$xs} {
    font-size: 35px;
  }
  @media #{$sm} {
    font-size: 35px;
  }
}

.title-content {
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-bottom: 40px;
  // justify-content: space-between;
  padding: 0rem 1rem;
  @media #{$xs,$sm} {
    justify-content: space-between;
  }

  & .link-title {
    display: inline-flex;
    color: var(--tp-theme-2);
    font-size: 30px;
    margin: 0px;
    margin-left: 50px;
    border-bottom: 2px solid var(--tp-theme-2);
    padding-bottom: 10px;
    margin-top: 15px;
    @media #{$md} {
      margin-top: 0px;
    }
    @media #{$xs,$sm} {
      padding-bottom: 0px;
      font-size: 22px;
      margin-top: 0px;
    }
  }
  & .tp-title {
    display: inline-flex;
    margin-bottom: 0px;
    @media #{$xs,$sm} {
      font-size: 22px;
    }
  }
}
.tp-title-sm {
  font-size: 50px;
  letter-spacing: 0;
  color: var(--tp-common-black);
  font-weight: 700;
  letter-spacing: -2px;
  @media #{$xl} {
    font-size: 45px;
  }
  @media #{$lg} {
    font-size: 38px;
  }
  @media #{$md} {
    font-size: 38px;
  }
  @media #{$xs} {
    font-size: 35px;
  }
}
.tp-white-text {
  color: var(--tp-theme-2);
}
.subtitle-secondary-color {
  color: #d2d2d2;
}

.tp-section-highlight {
  position: relative;
  z-index: 1;
  display: inline-block;
  & svg {
    position: absolute;
    bottom: 11px;
    left: 2px;
    z-index: -1;
    width: 100%;
  }
}
