@use "../utils" as *;

.tp-register-artist-area {
  height: 100vh;
  overflow: hidden;
  background-color: var(--tp-common-white);
  @media #{$md,$sm,$xs} {
    height: 100%;
  }
  & .artist-banner {
    height: 100vh;
    @media #{$md,$sm,$xs} {
      height: 100vh;
    }
  }
  & .artist-content {
    min-height: 100vh;
    overflow-y: auto;
    @media #{$md,$sm,$xs} {
      min-height: 100%;
    }
  }
}
