$colors: (
  common: (
    white: #ffffff,
    // black: #292930,
    black: #000000,
    blue: #82cefd,
    pink: #ffadad,
    dpink: #fd346e,
    paste: #1ee2cf,
    secundary-black: #263946,
    border: #e4e4e4,
    blue-white: #e5edf1,
    gray: #7e858b,
    gray-light: #f8f8f8,
  ),
  heading: (
    primary: #292930,
  ),
  grey: (
    1: #f7f8fd,
    2: #f8f8f8,
  ),
  text: (
    body: #ffffff,
    p: #ffffff,
  ),
  theme: (
    1: #b28334,
    2: #13212c,
    primary: #b28334,
    secondary: #13212c,
  ),
  border: (
    1: #e8ecf2,
  ),
);
