@use '../../../utils' as *;
.input-message {
  background-color: var(--tp-common-white);
  height: 5rem;
  padding: 1rem;
  border-radius: 2rem 2rem 0rem 0rem;
  box-shadow: 0px 24px 60px #00000012;
}
