@use '../../utils' as *;
.advisor-area {
  // min-height: 100vh;
  & .row {
    // min-height: 100vh;
    & .col-forms {
      padding: 0;
      margin: 0;
      background-color: var(--tp-common-white);
      // height: 100vh;
    }
    & .col-images {
      padding: 0;
      margin: 0;
      max-height: 100vh;
      @media #{$xs, $sm, $md} {
        display: none;
      }
      & .image-container {
        position: relative;
        height: 100%;
        width: 100%;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.form__advisor {
  // background-color: var(--tp-common-white);
  padding: 2rem;
  // border-radius: 3rem 0 0 3rem;
  height: 100%;
  display: flex;

  @media #{$xs, $sm, $md} {
    padding: 1rem;
    align-items: flex-end !important;
  }
  & .content-advisor {
    z-index: 999999;
    @media #{$xs, $sm, $md} {
      background-color: var(--tp-common-white);
      padding: 1rem;
      border-radius: 1rem;
    }
  }
  & .tp-input {
    & .question {
      display: block;
      color: var(--tp-common-black);
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }
  & .checkbox-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 9rem;
    margin-bottom: 1rem;
    cursor: pointer;
    & input[type='checkbox'] {
      display: none;
    }
    & .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      opacity: 0.3;
      transition: opacity 0.3s ease;
      border-radius: 0.5rem;
    }
    & .name-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 1.1rem;
    }
    & input[type='checkbox']:checked + .image-overlay {
      opacity: 0.8;
      background-color: var(--tp-theme-2);
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
}
